name: Create Release with PDF

on:
  push:
     tags:
      - '*'
      
jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

      - name: Cache LaTeX packages
        uses: actions/cache@v4
        with:
          path: |
            /usr/share/texlive
            /usr/share/texmf
            /var/lib/texmf
          key: texlive-${{ runner.os }}-latex-recommended-${{ hashFiles('cv_latex.tex', 'res.cls') }}
          restore-keys: |
            texlive-${{ runner.os }}-latex-recommended-

      - name: Set up LaTeX
        run: |
          sudo apt-get update -qy
          sudo apt-get install -qy --no-install-recommends \
            texlive-latex-base \
            texlive-latex-recommended \
            texlive-fonts-recommended

      - name: Compile LaTeX to PDF
        run: |
          # Compile your LaTeX document to PDF
          # Example:
          pdflatex -interaction=nonstopmode -halt-on-error -output-directory=. cv_latex.tex
        working-directory: ${{ github.workspace }}

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: ./cv_latex.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Get Release URL
        run: |
            echo "Release URL: ${{ steps.create_release.outputs.url }}"
